.btn {
  display: inline-block;
  color: #ffffff;
  background: #333333;
  padding: 12px 16px;
  border: 1px solid transparent;
  border-radius: 6px;

  &--outline-dark {
    color: #333333;
    background: #ffffff;
    border-color: #333333;
    transition: color .2s, background-color .2s;

    &:hover, &:focus {
      color: #ffffff;
      background-color: #333333;
    }
  }
}
