.contact {
  max-width: 992px;
  padding: 5rem 12px;
  margin: 0 auto;

  &__heading {
    text-align: center;
    margin: 0;
  }

  &__info {
    margin-top: 3rem;
    text-align: center;

    &__btn {
      margin-top: 1.5rem;
    }
  }
}
