.contact {
  background-color: $color-opal;
  text-align: center;

  &::before {
    border-color: transparent $color-opal transparent transparent;
  }

  &__wrap {
    max-width: 992px;
    margin: 0 auto;
  }

  &__image {
    width: 100%;
    max-width: 350px;
    border-radius: 100px;
  }

  &__heading {
    margin-top: 3rem;
  }

  &__info {
    margin-top: 2rem;
    text-align: center;

    &__btn {
      margin-top: 1.5rem;
    }
  }
}
