.intro {
  padding-top: 8rem;
  background-color: $color-secondary;

  @include for-width($media-sm) {
    padding-top: 10rem;
  }

  &__blurb {
    text-align: center;

    @include for-width($media-sm) {
      font-size: 1.25rem;
    }
  }
}
