.projects {

  &::before {
    border-color: transparent transparent transparent #ffffff;
  }

  &__wrap {
    max-width: 992px;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 1rem;

    &__cell {
      flex: 1 1 100%;
      width: 100%;
      padding: 0.75rem 12px;
      margin-top: 2rem;

      &__img {
        width: 100%;
      }

      @include for-width($media-md) {
        flex: 1 1 50%;
        width: 50%;
      }
    }
  }
}
